services:
  db:
    image: postgres:18
    container_name: skillbarter_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: skillbarter_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: